**/__pycache__/**
*.ckpt
*.dfm
*.engine
*.exe
*.jpg
*.json
*.mp4
*.onnx
*.profile
*.pth
*.pyproj
*.sln
*.timing
*.trt
.thumbnails/
visomaster.ico
.vs
.vscode/
app/ui/core/main_window.py
app/ui/core/media_rc.py
data.json
dependencies/CUDA/
dependencies/git-portable/
dependencies/Python/
dependencies/TensorRT/
install.dat
jobs/
merged_embeddings*.txt
model_assets/liveportrait_onnx/*.onnx
model_assets/liveportrait_onnx/*.trt
model_assets/reference_kv_data/
model_assets/canonswap/
output/
saved_parameters*.json
source_images/
source_videos/
startup_parameters*.json
tensorrt-engines/
test_frames*/
test_videos*/
presets/
