--extra-index-url https://download.pytorch.org/whl/cu129
--extra-index-url https://pypi.nvidia.com/
numpy
opencv-python
pillow
scikit-image
onnx
protobuf
psutil
onnxruntime-gpu==1.22.0
packaging
PySide6 
kornia
tensorrt==10.13.2.6
tensorrt-cu12_libs==10.13.2.6
tensorrt-cu12_bindings==10.13.2.6
torch==2.8.0+cu129
torchvision==0.23.0+cu129
torchaudio==2.8.0+cu129
tqdm
ftfy
regex
pyvirtualcam
numexpr
onnxsim
requests
pyqt-toast-notification
qdarkstyle
pyqtdarktheme