/* Monokai Theme for VisoMaster */
QWidget {
    background-color: #272822;
    color: #f8f8f2;
    selection-background-color: #66d9ef;
    selection-color: #272822;
}

QLabel {
    color: #f8f8f2;
}

QPushButton {
    color: #f8f8f2;
    background-color: #3e3d32;
    border: 1px solid #75715e;
}

/* Frame borders */
QFrame, QListWidget {
	background-color: transparent;
}
